:root {
  --primary-color: #000000;
  --secondary-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

/* navbar */
.nav {
  background-color: var(--primary-color);
  border: 4px solid rgb(255, 255, 255);
  list-style: none;
  display: flex;
  justify-content: center;

}


.navbar a {
  text-decoration: none;
  padding: 20px 40px;
  color: white;
  font-size: large;

  transition: background-color 0.2s ease-out, transform 0.4s ease-out;
}

.nav a:hover {
  background-color: rgb(138, 138, 138);
  transform: scale(1.05);
}

/* rubrik */
.rubrik {
  text-align: center;
  padding: 4rem;
}

/* row */
.row {
  background-color: rgb(234, 234, 234);
}

/* row img */
.row img {
  max-width: 100%;
  height: auto;
  width: 80%;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* bootstrap */
button {
  border: 1px solid black;
  background-color: #000000;
  color: white;
  padding: 9px;
}

button:hover {
  background-color: #7d7d7d;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;

}

/* footer */
footer {
  background-color: #100f0f;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  margin: 0 8px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  position:fixed;
  bottom:0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}


/* media */
@media (max-width: 450px) {
  .nav {
    flex-direction: column;
  }
}