:root {
  --primary-color: #000000;
  --secondary-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

/* navbar */
.nav {
  background-color: var(--primary-color);
  border: 4px solid rgb(255, 255, 255);
  list-style: none;
  display: flex;
  justify-content: center;

}


.navbar a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-size: large;

    transition: background-color 0.2s ease-out, transform 0.4s ease-out;
}

.nav a:hover{
    background-color: rgb(138, 138, 138);
    transform: scale(1.05);
}



/* Om Mig */
.om-mig{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    text-align: center;
}

.om-mig .rubrik{
    max-width: 800px;
    font-size: large;
}

.rubrik p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 800px;
}

.hero img{
    width: 60%;
    padding: 3rem;
    max-width: 100%;
    border-radius: 50%;
}

.intressen{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    list-style: none;
}

/* rubrik 2 */
.rubrik2{
    text-align: center;
    font-size: x-large;
    padding-top: 7rem;
    padding-bottom: 4rem;
}


/* Intressen */
.intressen{
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
}

.intressen img{
    max-width: 350px;
    width: 100%;
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 10rem;
}

.sidor:hover{
    transform: scale(1.05);
}
.intressen h3{
    text-align: center;
    padding: 1rem;
}
 

/* Footer */
footer {
  background-color: #100f0f;    
  color: white;             
  text-align: center;         
  padding: 15px;             
  font-size: 14px;            
}

footer a {
  color: #f4f4f4;           
  text-decoration: none;      
  margin: 0 8px;             
}

footer a:hover {
  text-decoration: underline; 
}

footer {
  position: absolute;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}


/* media */
@media (max-width: 450px) {
  .nav {
    flex-direction: column;
  }
}
